services:
  tool_server:
    build: ./tool_server
    ports:
      - "5000:5000"
    volumes:
      - ./data:/data
    networks:
      - mitm_net

  agent_b:
    build: ./agent_b
    ports:
      - "8000:8000"
    environment:
      - HTTP_PROXY=http://host.docker.internal:8080
      - HTTPS_PROXY=http://host.docker.internal:8080
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - tool_server
    networks:
      - mitm_net

  agent_a:
    build: ./agent_a
    ports:
      - "8001:8001"
    environment:
      - HTTP_PROXY=http://host.docker.internal:8080
      - HTTPS_PROXY=http://host.docker.internal:8080
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - agent_b
    networks:
      - mitm_net

networks:
  mitm_net:
    driver: bridge
